:root {
    --background: hsla(0, 0%, 0%, 1);
}

@media screen and (prefers-color-scheme: dark) {
    :root {
        --cpd-color-bg-canvas-default: var(--background);
    }
}


input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
}
input[data-autocompleted] {
    background-color: transparent !important;
}
